<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/babus/IdeaProjects/Api_Teseting"><classes><class name="org.example.ex02_ra.Apitesting_TC_Testng_Fix"><methods><include name="test_get_positive_Tc1"/><include name="test_get_positive_Tc2"/><include name="test_get_positive_Tc3"/></methods></class></classes></test></suite>